body {
    font-size: 12px;
    font-family: "Libre", monospace;
    color: white;
    font-weight: normal;
    background: black;
    text-align: left;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 20px;
    color: black;
}

#light {
    width: 20px;
}

#light:hover {
    cursor: pointer;
    background-color: white;
}


#switch {
    float: right;
}

#smileyface {
    width: 120px;
    position: 100px 300px;
}